<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ksp fu</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  /* font-family: 'Shantell Sans Variable', system-ui; */
  import "@fontsource-variable/shantell-sans";
  import "../assets/preflight.css";
  import "../assets/main.css";
</script>

<style></style>
